<p id="notice"><%= notice %></p>

<p>
  <b>Driver:</b>
  <%= @purchase.driver_id %>
</p>

<p>
  <b>Policy:</b>
  <%= @purchase.policy_id %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
