<p id="notice"><%= notice %></p>

<p>
  <b>Make:</b>
  <%= @auto.make %>
</p>

<p>
  <b>Model:</b>
  <%= @auto.model %>
</p>

<p>
  <b>Year:</b>
  <%= @auto.year %>
</p>

<p>
  <b>Use:</b>
  <%= @auto.use %>
</p>


<%= link_to 'Edit', edit_auto_path(@auto) %> |
<%= link_to 'Back', autos_path %> |
<%= link_to 'Driver info', new_driver_path %>