<h1>Listing drivers</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Age range</th>
    <th>Gender</th>
    <th>City</th>
    <th>Marital status</th>
    <th>Occupation</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drivers.each do |driver| %>
  <tr>
    <td><%= driver.first_name %></td>
    <td><%= driver.last_name %></td>
    <td><%= driver.age_range %></td>
    <td><%= driver.gender %></td>
    <td><%= driver.city %></td>
    <td><%= driver.marital_status %></td>
    <td><%= driver.occupation %></td>
    <td><%= driver.email %></td>
    <td><%= link_to 'Show', driver %></td>
    <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
    <td><%= link_to 'Destroy', driver, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Driver', new_driver_path %>
