<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @driver.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @driver.last_name %>
</p>

<p>
  <b>Age range:</b>
  <%= @driver.age_range %>
</p>

<p>
  <b>Gender:</b>
  <%= @driver.gender %>
</p>

<p>
  <b>City:</b>
  <%= @driver.city %>
</p>

<p>
  <b>Marital status:</b>
  <%= @driver.marital_status %>
</p>

<p>
  <b>Occupation:</b>
  <%= @driver.occupation %>
</p>

<p>
  <b>Email:</b>
  <%= @driver.email %>
</p>

<p>

</p>
<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>


<% @eligible_policies.each do |policy| %>
<p>	<%= Company.find(policy.company_id).name %>
<b>Price: $</b>
<%= policy.price %>
</p>
<%= link_to 'Purchase', new_purchase_path %>
<% end %>
