<h1>Listing policies</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Auto</th>
    <th>Age range</th>
    <th>Gender</th>
    <th>City</th>
    <th>Marital status</th>
    <th>Occupation</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @policies.each do |policy| %>
  <tr>
    <td><%= policy.company_id %></td>
    <td><%= policy.auto_id %></td>
    <td><%= policy.age_range %></td>
    <td><%= policy.gender %></td>
    <td><%= policy.city %></td>
    <td><%= policy.marital_status %></td>
    <td><%= policy.occupation %></td>
    <td><%= policy.price %></td>
    <td><%= link_to 'Show', policy %></td>
    <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
    <td><%= link_to 'Destroy', policy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Policy', new_policy_path %>

<%= image_tag("http://www.mapfre.com/seguros/es/docs/img/NEW-logoMAPFRE.gif") %>
